.jumbotron{
    background-color: #00c3ff;
}

.my-card{
    /* border: 1px solid #000000; */
    /* padding: 8px; */
    margin: 8px 14px;
    width: 25%;
}

.my-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.my-card-img{
    width: 100%;
    height: 220px;
}

.btn{
    width: 100%;
}

.my-column{
    padding: 8px;
    text-align: center;
}

footer{
    width: 100%;
    background-color: #00c3ff;
    margin-top: 30px;
}