$amarillo: #f0ff00;
$rojo: #ff0000;
$verde: #00ff00;

$purple: #bb8aff;
$green: #2be353;
$maincolor:#00c3ff;
$eightPx: 8px;

@mixin relleno ($total) {
    padding: $total;
}

@mixin colorRelleno ($color) {
    background-color: $color;
}


.jumbotron{
    background-color: $maincolor;
}


.my-card{
    margin: 8px 14px;
    width: 25%;
}

.my-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.my-card-img{
    width: 100%;
    height: 220px;
}

.btn{
    width: 100%;
}

.my-column{
    // padding: 8px;
    @include relleno($eightPx);
    text-align: center;
}

footer{
    width: 100%;
    @include colorRelleno($maincolor);
    margin-top: 30px;
}