@amarillo: #f0ff00;
@rojo: #ff0000;
@verde: #00ff00;


@purple: #bb8aff;
@green: #2be353;
@eightPx: 8px;

.relleno (@total) {
    padding: @total;
}

.colorRelleno (@color) {
    background-color: @color;
}


.jumbotron{
    background-color: @green;
}

.my-card{
    /* border: 1px solid #000000; */
    /* padding: 8px; */
    margin: 8px 14px;
    width: 25%;
}

.my-img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.my-card-img{
    width: 100%;
    height: 220px;
}

.btn{
    width: 100%;
}

.my-column{
    // padding: 8px;
    .relleno(@eightPx);
    text-align: center;
}

footer{
    width: 100%;
    .colorRelleno(@green);
    margin-top: 30px;
}